{{#> base fun="true"}}
  {{#*inline "content-block"}}
    <div class="section primary-section">
      <div class="section-body">
        <h2>Fun</h2>
        
        <p>In my free time, I enjoy snowboarding, running, flying gliders, backpacking, playing guitar and ukulele, and messing with my robot.</p>

        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--3-col mdl-cell__tile">
            <figure><img class="square-photo outlined-photo" src="img/fun/backpacking-photo-5.jpg"/></figure>
          </div>

          <div class="mdl-cell mdl-cell--3-col mdl-cell__tile">
            <figure><img class="square-photo outlined-photo" src="img/fun/snowboarding-photo-1.jpg"/></figure>
          </div>

          <div class="mdl-cell mdl-cell--3-col mdl-cell__tile">
            <figure><img class="square-photo outlined-photo" src="img/fun/glider-photo-2.jpg"/></figure>
          </div> 

          <div class="mdl-cell mdl-cell--3-col mdl-cell__tile">
            <figure><img class="square-photo outlined-photo" src="img/fun/running-photo-1.jpg"/></figure>
          </div>

          <div class="mdl-cell mdl-cell--3-col mdl-cell__tile">
            <figure><img class="square-photo outlined-photo" src="img/fun/ukulele-photo-1.jpg"/></figure>
          </div>

          <div class="mdl-cell mdl-cell--3-col mdl-cell__tile">
            <figure><img class="square-photo outlined-photo" src="img/fun/backpacking-photo-2.jpg"/></figure>
          </div>

          <div class="mdl-cell mdl-cell--3-col mdl-cell__tile">
            <figure><img class="square-photo outlined-photo" src="img/fun/backpacking-photo-1.jpg"/></figure>
          </div>

          <div class="mdl-cell mdl-cell--3-col mdl-cell__tile">
            <figure><img class="square-photo outlined-photo" src="img/fun/glider-photo-3.jpg"/></figure>
          </div>  
      
          <div class="mdl-cell mdl-cell--3-col mdl-cell__tile">
            <figure><img class="square-photo outlined-photo" src="img/fun/backpacking-photo-6.jpg"/></figure>
          </div>

          <div class="mdl-cell mdl-cell--3-col mdl-cell__tile">
            <figure><img class="square-photo outlined-photo" src="img/fun/robot-photo-1.jpg"/></figure>
          </div>

          <div class="mdl-cell mdl-cell--3-col mdl-cell__tile">
            <figure><img class="square-photo outlined-photo" src="img/fun/glider-photo-1.jpg"/></figure>
          </div>

          <div class="mdl-cell mdl-cell--3-col mdl-cell__tile">
            <figure><img class="square-photo outlined-photo" src="img/fun/backpacking-photo-4.jpg"/></figure>
          </div>
        </div>
      </div>
    </div>
  {{/inline}}
{{/base}}