{{#> base honors="true"}}
  {{#*inline "content-block"}}
    <div class="entry section primary-section">
      <div class="entry section-body">
        <h2>UMass Amherst</h2>

        <div class="entry entry mdl-cell mdl-cell--12-col">
          <span class="honor">Distinguished Paper Award</span>
          <span class="symbol-separator">&bull;</span>
          <span>Awarded to a few top papers at AAAI 2021</span>
        </div>
    
        <div class="entry mdl-cell mdl-cell--12-col">
          <span class="honor">NSF Graduate Research Fellowship</span>
          <span class="symbol-separator">&bull;</span>
          <span>Awarded to high-potential PhD students early in their career</span>
        </div>
  
        <div class="entry mdl-cell mdl-cell--12-col">
          <span class="honor">Distinguished Teaching Award Finalist</span>
          <span class="symbol-separator">&bull;</span>
          <span>Awarded to a few top teaching assistants</span>
        </div>
  
        <div class="entry mdl-cell mdl-cell--12-col">
          <span class="honor">PhD Candidate with Distinction</span>
          <span class="symbol-separator">&bull;</span>
          <span>Awarded to a few top PhD students for excellence on the PhD candidacy qualifying exam</span>
        </div>
  
        <div class="entry mdl-cell mdl-cell--12-col">
          <span class="honor">Victor Lesser Graduate Scholarship in Artificial Intelligence</span>
          <span class="symbol-separator">&bull;</span>
          <span>Awarded to a top incoming PhD student in AI</span>
        </div>
  
        <div class="entry mdl-cell mdl-cell--12-col">
          <span class="honor">SIGAI Student Scholar</span>
          <span class="symbol-separator">&bull;</span>
          <span>Included a grant to attend the 50 Years of the ACM Turing Award Celebration</span>
        </div>
  
        <div class="entry mdl-cell mdl-cell--12-col">
          <span class="honor">IJCAI Student Scholar</span>
          <span class="symbol-separator">&bull;</span>
          <span>Included a grant to attend IJCAI 2018</span>
        </div>
      </div>
    </div>
    
    <div class="entry section secondary-section">
      <div class="entry section-body">
        <h2>Marist College</h2>
    
        <div class="entry mdl-cell mdl-cell--12-col">
          <span class="honor">Valedictorian</span>
          <span class="symbol-separator">&bull;</span>
          <span>Awarded to the top graduating student</span>
        </div>
    
        <div class="entry mdl-cell mdl-cell--12-col">
          <span class="honor">NSF Technology Scholarship</span>
          <span class="symbol-separator">&bull;</span>
          <span>Included a full scholarship for all years of college</span>
        </div>
    
        <div class="entry mdl-cell mdl-cell--12-col">
          <span class="honor">Excellence Award in Computer Science</span>
          <span class="symbol-separator">&bull;</span>
          <span>Awarded to the top graduating student in computer science</span>
        </div>
    
        <div class="entry mdl-cell mdl-cell--12-col">
          <span class="honor">Excellence Award in Philosophy</span>
          <span class="symbol-separator">&bull;</span>
          <span>Awarded to the top graduating student in philosophy</span>
        </div>
    
        <div class="entry mdl-cell mdl-cell--12-col">
          <span class="honor">Intern of the Year</span>
          <span class="symbol-separator">&bull;</span>
          <span>Awarded to the top graduating student for excellence in industry</span>
        </div>
    
        <div class="entry mdl-cell mdl-cell--12-col">
          <span class="honor">Fiovranti Memorial Scholarship for Athletics</span>
          <span class="symbol-separator">&bull;</span>
          <span>Awarded for excellence in cross country and track and field</span>
        </div>
    
        <div class="entry mdl-cell mdl-cell--12-col">
          <span class="honor">Summa Cum Laude</span>
          <span class="symbol-separator">&bull;</span>
          <span>Awarded to students with at least a 3.85 GPA</span>
        </div>
    
        <div class="entry mdl-cell mdl-cell--12-col">
          <span class="honor">Deans’ Circle</span>
          <span class="symbol-separator">&bull;</span>
          <span>Admitted to an honors organization with only the top 1% of students</span>
        </div>
    
        <div class="entry mdl-cell mdl-cell--12-col">
          <span class="honor">Deans’ List</span>
          <span class="symbol-separator">&bull;</span>
          <span>Awarded to students with at least a 3.6 GPA</span>
        </div>
    
        <div class="entry mdl-cell mdl-cell--12-col">
          <span class="honor">Presidential Scholar Student Speaker</span>
          <span class="symbol-separator">&bull;</span>
          <span>Selected to give 6 talks to top accepted prospective students</span>
        </div>
      </div>
    </div>
  {{/inline}}
{{/base}}