{{#> base index="true"}}
  {{#*inline "content-block"}}
    <div id="bio" class="section primary-section">
      <div class="section-body">
        <h2>Bio</h2>

        <p>I'm a <span class="topic">PhD student</span> at <span class="topic">UMass Amherst</span> under <span class="topic">Shlomo Zilberstein</span> interested in building <span class="topic">autonomous systems</span> that can operate in natural, partially observable, stochastic domains for long periods of time.</p>
        <p>Recently, I won a <span class="topic">Distinguished Paper Award at AAAI</span>, received an <span class="topic">NSF Graduate Research Fellowship</span>, and was a <span class="topic">Distinguished Teaching Award Finalist at UMass Amherst</span>.</p>
        <p>At a high level, I focus on <span class="morality-highlight">ethical compliance</span>, <span class="reliability-highlight">reliable execution</span>, and <span class="efficiency-highlight">efficient planning</span> in autonomous systems.</p>

        <div id="questions" class="mdl-grid mdl-grid--no-spacing">
          <div class="mdl-cell mdl-cell--4-col">
            <h4 class="morality-highlight">Ethical Compliance</h4>
            <div class="question">How can an autonomous system <span class="topic">encode a given ethical theory?</span></div>
            <div class="question">How can an autonomous system <span class="topic">comply with a given ethical theory?</span></div>
          </div>

          <div class="mdl-cell mdl-cell--4-col">
            <h4 class="reliability-highlight">Reliable Execution</h4>
            <div class="question">How can an autonomous system <span class="topic">recover from exceptional scenarios?</span></div>
            <div class="question">How can an autonomous system <span class="topic">maintain and restore safe operation?</span></div>
            </span>
          </div>

          <div class="mdl-cell mdl-cell--4-col">
            <h4 class="efficiency-highlight">Efficient Planning</h4>
            <div class="question">How can an autonomous system <span class="topic">determine when to interrupt its planner?</span></div>
            <div class="question">How can an autonomous system <span class="topic">tune the hyperparameters of its planner?</span></div>
          </div>
        </div>
      </div>
    </div>

    <div id="education" class="section secondary-section">
      <div class="section-body">
        <h2>Education</h2>

        <h5>University of Massachusetts Amherst</h5>
        <div>
          <span class="degree">MS in Computer Science</span>
          <span class="symbol-separator">&bull;</span>
          <span class="date">May 2019</span>
        </div>
        <div>
          <span class="degree">PhD in Computer Science</span>
          <span class="symbol-separator">&bull;</span>
          <span class="date">Expected September 2021</span>
        </div>
        <div>
          <span class="highlight">PhD Candidate with Distinction</span>
        </div>

        <h5>Marist College</h5>
        <div>
          <span class="degree">BS in Computer Science and Philosophy with a Mathematics Minor</span>
          <span class="symbol-separator">&bull;</span>
          <span class="date">May 2014</span>
        </div>
        <div>
          <span class="highlight">4.0 GPA</span> <span class="symbol-separator">&bull;</span>
          <span class="highlight">Valedictorian</span> <span class="symbol-separator">&bull;</span>
          <span class="highlight">Summa Cumme Laude</span>
        </div>
      </div>
    </div>

    <div id="news" class="section primary-section">
      <div class="section-body">
        <h2>News</h2>

        <span class="entry mdl-grid mdl-grid--no-spacing">
          <span class="date mdl-cell mdl-cell--2-col">Feb 2021</span>
          <span class="description mdl-cell mdl-cell--10-col"><a href="http://icra2021.org/">ICRA</a> accepted our paper that solves large MDPs with partial state abstractions!</span>
        </span>

        <span class="entry mdl-grid mdl-grid--no-spacing">
          <span class="date mdl-cell mdl-cell--2-col">Feb 2021</span>
          <span class="description mdl-cell mdl-cell--10-col"><a href="pdf/SNZaaai21.pdf">Our paper</a> on ethically compliant sequential decision making won a <a href="https://aaai.org/Awards/paper.php">Distinguished Paper Award</a> at <a href="https://aaai.org/Conferences/AAAI-21/">AAAI</a>!</span>
        </span>

        <span class="entry mdl-grid mdl-grid--no-spacing">
          <span class="date mdl-cell mdl-cell--2-col">Feb 2021</span>
          <span class="description mdl-cell mdl-cell--10-col">I defended <a href="https://www.cics.umass.edu/entry/metareasoning-planning-and-execution-autonomous-systems">my dissertation proposal</a>!</span>
        </span>

        <span class="entry mdl-grid mdl-grid--no-spacing">
          <span class="date mdl-cell mdl-cell--2-col">Dec 2020</span>
          <span class="description mdl-cell mdl-cell--10-col"><a href="https://aaai.org/Conferences/AAAI-21/">AAAI</a> accepted <a href="pdf/SNZaaai21.pdf">our paper</a> that proposes ethically compliant sequential decision making!</span>
        </span>

        <span class="entry mdl-grid mdl-grid--no-spacing">
          <span class="date mdl-cell mdl-cell--2-col">July 2020</span>
          <span class="description mdl-cell mdl-cell--10-col">The <a href="https://area2020.github.io/">AREA</a> workshop at <a href="http://ecai2020.eu/">ECAI</a> accepted <a href="pdf/BSZWWarea20.pdf">our paper</a> that improves competence in autonomous systems.</span>
        </span>

        <span class="entry mdl-grid mdl-grid--no-spacing">
          <span class="date mdl-cell mdl-cell--2-col">July 2020</span>
          <span class="description mdl-cell mdl-cell--10-col"><a href="http://ecai2020.eu/">ECAI</a> accepted <a href="pdf/Secai20.pdf">my doctoral consortium paper</a> that outlines my dissertation on metareasoning.</span>
        </span>

        <span class="entry mdl-grid mdl-grid--no-spacing">
          <span class="date mdl-cell mdl-cell--2-col">June 2020</span>
          <span class="description mdl-cell mdl-cell--10-col">The <a href="https://www.aisafetyw.org/">AISafety</a> workshop at <a href="http://ijcai20.org/">IJCAI</a> accepted <a href="pdf/SNZaisafety20b.pdf">our paper</a> that proposes ethically compliant autonomous systems.</span>
        </span>

        <span class="entry mdl-grid mdl-grid--no-spacing">
          <span class="date mdl-cell mdl-cell--2-col">June 2020</span>
          <span class="description mdl-cell mdl-cell--10-col">The <a href="https://robotics.sydney.edu.au/icra-workshop/">DynamicSlam</a> workshop at <a href="http://icra2020.org/">ICRA</a> accepted <a href="pdf/PKSZseudw20.pdf">our paper</a> that introduces agent-aware state estimation.</span>
        </span>

        <span class="entry mdl-grid mdl-grid--no-spacing">
          <span class="date mdl-cell mdl-cell--2-col">Jan 2020</span>
          <span class="description mdl-cell mdl-cell--10-col"><a href="http://icra2020.org/">ICRA</a> accepted <a href="pdf/SSZicra20.pdf">our paper</a> that uses model-free metareasoning to decide when to stop anytime planners!</span>
        </span>

        <span class="entry mdl-grid mdl-grid--no-spacing">
          <span class="date mdl-cell mdl-cell--2-col">Jan 2020</span>
          <span class="description mdl-cell mdl-cell--10-col"><a href="https://aamas2020.conference.auckland.ac.nz/">AAMAS</a> accepted <a href="pdf/BSWWBZaamas20.pdf">our paper</a> that introduces competence-aware systems!</span>
        </span>

        <span class="entry mdl-grid mdl-grid--no-spacing">
          <span class="date mdl-cell mdl-cell--2-col">Jan 2020</span>
          <span class="description mdl-cell mdl-cell--10-col"><a href="http://ecai2020.eu/">ECAI</a> accepted <a href="pdf/SNZecai20.pdf">our paper</a> that integrates decision making and ethics in autonomous systems!</span>
        </span>

        <span class="entry mdl-grid mdl-grid--no-spacing">
          <span class="date mdl-cell mdl-cell--2-col">June 2019</span>
          <span class="description mdl-cell mdl-cell--10-col"><a href="https://www.iros2019.org/">IROS</a> accepted <a href="pdf/SWWBZiros19.pdf">our paper</a> that uses belief space metareasoning for exception recovery!</span>
        </span>

        <span class="entry mdl-grid mdl-grid--no-spacing">
          <span class="date mdl-cell mdl-cell--2-col">Jan 2019</span>
          <span class="description mdl-cell mdl-cell--10-col">I was a finalist for the Distinguished Teaching Award for teaching assistants.</span>
        </span>

        <span class="entry mdl-grid mdl-grid--no-spacing">
          <span class="date mdl-cell mdl-cell--2-col">Dec 2018</span>
          <span class="description mdl-cell mdl-cell--10-col">I passed my qualifying exam with distinction! I'm a PhD candidate now.</span>
        </span>

        <span class="entry mdl-grid mdl-grid--no-spacing">
          <span class="date mdl-cell mdl-cell--2-col">Nov 2018</span>
          <span class="description mdl-cell mdl-cell--10-col">I'm the primary inventor on <a href="pdf/US10649453.pdf">a patent for self-driving cars</a>!</span>
        </span>

        <span class="entry mdl-grid mdl-grid--no-spacing">
          <span class="date mdl-cell mdl-cell--2-col">June 2018</span>
          <span class="description mdl-cell mdl-cell--10-col">The <a href="http://cadia.ru.is/workshops/aegap2018/">AEGAP</a> workshop at <a href="https://www.ijcai-18.org/">IJCAI</a> accepted <a href="pdf/SZaegap18.pdf">our paper</a> that introduces adaptive metareasoning.</span>
        </span>

        <span class="entry mdl-grid mdl-grid--no-spacing">
          <span class="date mdl-cell mdl-cell--2-col">May 2018</span>
          <span class="description mdl-cell mdl-cell--10-col">The <a href="https://www.zurich.ibm.com/AI4IoT/">AI4IoT</a> workshop at <a href="https://www.ijcai-18.org/">IJCAI</a> accepted <a href="pdf/SWHZai4iot18.pdf">our paper</a> that applies belief-space planning to information security.</span>
        </span>

        <span class="entry mdl-grid mdl-grid--no-spacing">
          <span class="date mdl-cell mdl-cell--2-col">April 2018</span>
          <span class="description mdl-cell mdl-cell--10-col"><a href="https://www.ijcai-18.org/">IJCAI</a> accepted <a href="pdf/SWZijcai18.pdf">our paper</a> that uses model-based metareasoning to decide when to stop anytime planners!</span>
        </span>

        <span class="entry mdl-grid mdl-grid--no-spacing">
          <span class="date mdl-cell mdl-cell--2-col">April 2018</span>
          <span class="description mdl-cell mdl-cell--10-col">My advisor and I received funding for <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1813490">our NSF grant on adaptive metareasoning</a>!</span>
        </span>

        <span class="entry mdl-grid mdl-grid--no-spacing">
          <span class="date mdl-cell mdl-cell--2-col">April 2018</span>
          <span class="description mdl-cell mdl-cell--10-col">I was awarded <a href="https://www.nsfgrfp.org/">an NSF Graduate Research Fellowship</a>! Check out <a href="https://www.cics.umass.edu/news/svegliato-named-national-science-foundation-graduate-research-fellow">the article</a>.</span>
        </span>

        <span class="entry mdl-grid mdl-grid--no-spacing">
          <span class="date mdl-cell mdl-cell--2-col">Feb 2018</span>
          <span class="description mdl-cell mdl-cell--10-col">I got an internship with <a href="https://www.nissan-global.com/EN/NRC/">Nissan</a> this summer! I'll be working on their self-driving cars.</span>
        </span>
      </div>
    </div>

    <div id="timeline" class="section secondary-section">
      <div class="section-body">
        <h2>Timeline</h2>

        <span class="entry mdl-grid mdl-grid--no-spacing">
          <span class="date mdl-cell mdl-cell--2-col">2016 – Now</span>
          <span class="description mdl-cell mdl-cell--10-col"><span class="company">UMass Amherst</span> <span class="position">MS/PhD Student</span> <span class="preposition-separator">in</span> <span class="area">Computer Science</span></span>
        </span>

        <span class="entry mdl-grid mdl-grid--no-spacing">
          <span class="date mdl-cell mdl-cell--2-col">Summer 2018</span>
          <span class="description mdl-cell mdl-cell--10-col"><span class="company">Nissan</span> <span class="position">Research Intern</span> <span class="preposition-separator">in</span> <span class="area">Autonomous Driving</span></span>
        </span>

        <span class="entry mdl-grid mdl-grid--no-spacing">
          <span class="date mdl-cell mdl-cell--2-col">2015 – 2016</span>
          <span class="description mdl-cell mdl-cell--10-col"><span class="company">Goldman Sachs</span> <span class="position">Software Developer</span> <span class="preposition-separator">in</span> <span class="area">Big Data</span></span>
        </span>

        <span class="entry mdl-grid mdl-grid--no-spacing">
          <span class="date mdl-cell mdl-cell--2-col">2015 – 2016</span>
          <span class="description mdl-cell mdl-cell--10-col"><span class="company">Marist College</span> <span class="position">Research Assistant</span> <span class="preposition-separator">in</span> <span class="area">Distributed Graph Databases</span></span>
        </span>

        <span class="entry mdl-grid mdl-grid--no-spacing">
          <span class="date mdl-cell mdl-cell--2-col">2014 – 2015</span>
          <span class="description mdl-cell mdl-cell--10-col"><span class="company">Goldman Sachs</span> <span class="position">Software Developer</span> <span class="preposition-separator">in</span> <span class="area">Network Engineering</span></span>
        </span>

        <span class="entry mdl-grid mdl-grid--no-spacing">
          <span class="date mdl-cell mdl-cell--2-col">2013 – 2015</span>
          <span class="description mdl-cell mdl-cell--10-col"><span class="company">Marist College</span> <span class="position">Software Developer</span> <span class="preposition-separator">in</span> <span class="area">Stimulus-Response Testing</span></span>
        </span>

        <span class="entry mdl-grid mdl-grid--no-spacing">
          <span class="date mdl-cell mdl-cell--2-col">2013 – 2014</span>
          <span class="description mdl-cell mdl-cell--10-col"><span class="company">OmniTech</span> <span class="position">Software Developer</span> <span class="preposition-separator">in</span> <span class="area">Machine Learning</span></span>
        </span>

        <span class="entry mdl-grid mdl-grid--no-spacing">
          <span class="date mdl-cell mdl-cell--2-col">2012 – 2014</span>
          <span class="description mdl-cell mdl-cell--10-col"><span class="company">Goldman Sachs</span> <span class="position">Software Developer Intern</span> <span class="preposition-separator">in</span> <span class="area">Network Engineering</span></span>
        </span>

        <span class="entry mdl-grid mdl-grid--no-spacing">
          <span class="date mdl-cell mdl-cell--2-col">2010 – 2012</span>
          <span class="description mdl-cell mdl-cell--10-col"><span class="company">Marist College</span> <span class="position">Web Developer</span> <span class="preposition-separator">at</span> <span class="area"><a href="https://www.marist.edu">www.marist.edu</a></span></span>
        </span>

        <span class="entry mdl-grid mdl-grid--no-spacing">
          <span class="date mdl-cell mdl-cell--2-col">Summer 2011</span>
          <span class="description mdl-cell mdl-cell--10-col"><span class="company">Marist College</span> <span class="position">Teaching Assistant</span> <span class="preposition-separator">at</span> <span class="area"><a href="http://www.marist.edu/summerinstitutes/game/">Summer Game Design Institute</a></span></span>
        </span>

        <span class="entry mdl-grid mdl-grid--no-spacing">
          <span class="date mdl-cell mdl-cell--2-col">2010 – 2014</span>
          <span class="description mdl-cell mdl-cell--10-col"><span class="company">Marist College</span> <span class="position">Double Major</span> <span class="preposition-separator">in</span> <span class="area">Computer Science and Philosophy with a Mathematics Minor</span></span>
        </span>
      </div>
    </div>
  {{/inline}}
{{/base}}